[submodule "user-service"]
	path = user-service
	url = git@github.com:les-cours/user-service.git
[submodule "user-api"]
	path = user-api
	url = git@github.com:les-cours/user-api.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:les-cours/gateway.git
[submodule "auth-service"]
	path = auth-service
	url = git@github.com:les-cours/auth-service.git
[submodule "organization-service"]
	path = organization-service
	url = git@github.com:les-cours/organization-service.git
[submodule "learning-service"]
	path = learning-service
	url = https://github.com/les-cours/learning-service
[submodule "learning-api"]
	path = learning-api
	url = https://github.com/les-cours/learning-api
